*.dll
*.xml
.vs/config/applicationhost.config

.vs/RouteWeb/v15/.suo

.vs/RouteWeb/v15/Server/sqlite3/storage.ide

.vs/RouteWeb/v15/Server/sqlite3/storage.ide-shm

.vs/RouteWeb/v15/Server/sqlite3/storage.ide-wal

TTWeb/bin/EnvDTE.dll

TTWeb/bin/EnvDTE80.dll

TTWeb/bin/Microsoft.VisualStudio.CommandBars.dll

TTWeb/bin/stdole.dll

TTWeb/bin/TTWeb.dll

TTWeb/bin/TTWeb.dll.config

TTWeb/bin/TTWeb.pdb

TTWeb/bin/VSLangProj.dll

TTWeb/obj/Debug/RouteWeb.csproj.CoreCompileInputs.cache

TTWeb/obj/Debug/RouteWeb.csproj.FileListAbsolute.txt

TTWeb/obj/Debug/RouteWeb.csproj.GenerateResource.cache

TTWeb/obj/Debug/RouteWeb.csprojAssemblyReference.cache

TTWeb/obj/Debug/TTWeb.dll

TTWeb/obj/Debug/TTWeb.pdb

TTWeb/bin/Microsoft.Windows.Design.Extensibility.dll

TTWeb/obj/Debug/TempPE/Reporting.DailyProgram_Dat.Designer.cs.dll

TTWeb/obj/Debug/TempPE/Reporting.DailyVisits_Dat.Designer.cs.dll

TTWeb/obj/Debug/TempPE/Reporting.Expenses_Dat.Designer.cs.dll

TTWeb/obj/Debug/TempPE/Reporting.ManagementReportSummary_Dat.Designer.cs.dll

TTWeb/obj/Debug/TempPE/Reporting.Overtimes_Dat.Designer.cs.dll

TTWeb/obj/Debug/TempPE/Reporting.Schedules_Dat.Designer.cs.dll

TTWeb/obj/Debug/TempPE/Reporting.SchedulesKPIs_Dat.Designer.cs.dll

TTWeb/obj/Debug/TempPE/Reporting.VFTroubleTickets_Dat.Designer.cs.dll

TTWeb/obj/Debug/TempPE/SchEdit_DataSet.Designer.cs.dll

TTWeb/obj/Debug/TempPE/System_Views.Fleet_DataSet.Designer.cs.dll

TTWeb/obj/Debug/TempPE/System_Views.SchTicketInfo_DataSet.Designer.cs.dll

TTWeb/obj/Debug/ttweb.dll.licenses

TTWeb/Properties/licenses.licx

.vs/RouteWeb/config/applicationhost.config

.vs/RouteWeb/FileContentIndex/456ceddc-7703-4111-b9e0-87b2e9aeec6d.vsidx

.vs/RouteWeb/FileContentIndex/read.lock

.vs/RouteWeb/v17/.suo

TTWeb/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs

TTWeb/obj/Debug/RouteWeb.csproj.AssemblyReference.cache

TTWeb/Reporting/DailyProgram_Dat.Designer.cs

TTWeb/Reporting/Expenses_Dat.Designer.cs

TTWeb/Web.config
